body {
	margin: 0;
	background: #27ae60;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}
input.ng-invalid, input.ng-valid {
	border: none;
	box-shadow: none;
}
.search-form {
	margin-top: 40px;
	padding: 10px 20px;
	background-color: #99ff99;
	border-radius: 5px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}
.search-form-wrapper {
	position: relative;
}
.search-form-content {
	height: 50px;
}
.search-form h1 {
	margin: 0;
	color: #0099cc;
	line-height: 50px;
}
.search-form form span {
	float: left;
}
#searchLabel, #filterLabel, #orderLabel {
	height: 40px;
	background-color: #27ae60;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px 0 0 5px;
}
#searchLabel {
	width: 20%;
}
#searchLabel #searchLabelText {
	height: 100%;
	width: 100%;
}
#searchLabel .glyphicon {
	height: 100%;
	width: 100%;
	line-height: 40px;
	display: none;
}
.search-form form input {
	float: left;
	height: 40px;
	width: 80%;
	padding: 0 1%;
	border-radius: 0 5px 5px 0;
	color: #34495e;
	font-size: 20px;
}
.search-form .filter {
	height: 50px;
	-webkit-transition: height 0.3s, opacity 0.3s, visibility 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, visibility 0.3s;
	transition: height 0.3s, opacity 0.3s, visibility 0.3s;
}
.search-form .filter.filter-hide {
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.search-form .filter * {
	-webkit-transition: height 0.3s, opacity 0.4s, visibility 0.4s;
	-moz-transition: height 0.3s, opacity 0.4s, visibility 0.4s;
	transition: height 0.3s, opacity 0.4s, visibility 0.4s;
}
.search-form .filter.filter-hide * {
	height: 0;
	opacity: 0;
	visibility: hidden;
	border: none;
	-webkit-transition: height 0.3s, opacity 0s, visibility 0s;
	-moz-transition: height 0.3s, opacity 0s, visibility 0s;
	transition: height 0.3s, opacity 0s, visibility 0s;
}
.filter-col {
	margin-bottom: 10px;
}
#filterLabel {
	float: left;
	width: 40%;
}
#filterSelect {
	float: left;
	height: 40px;
	width: 60%;
	color: #34495e;
	font-size: 16px;
}
#orderLabel {
	float: left;
	width: 40%;
}
.order-div {
	float: left;
	width: 30%;
}
.order-div span {
	display: inline-block;
	height: 40px;
	width: 100%;
	background-color: #0093d1;
	color: #ffffff;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	border-left: solid 1px #ccffcc;
	border-radius: 0;
	opacity: 0.6;
	cursor: pointer;
}
.search-form .filter div span.active {
	opacity: 1;
}
.search-form .filter div span:hover {
	background-color: #006495;
	opacity: 1;
}
.search-form .filter div span.active:hover {
	background-color: #0093d1;
}
.filter-toggle {
	position: relative;
	height: 30px;
	margin: 0 0 10px 0;
	color: #27ae60;
	text-align: center;
	border:solid 1px #27ae60;
	cursor: pointer !important;
	line-height: 30px;
	z-index: 10;
	-webkit-transition: background-color 0.3s, color 0.3s;
	-moz-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.filter-toggle span {
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 11;
}
.filter-toggle:hover {
	background-color: #27ae60;
	color: #99ff99;
}
.result {
	position: relative;
	height: 70px;
	margin: 0 0 2px 0;
	padding: 0 10px;
	background-color: #70ff7f;
	border-right: solid 10px #27ae60;
	overflow: hidden;
}
.result:hover {
	background-color: #27ae60;
}
.result a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.result div {
	display: inline-block;
	margin: 0 10px 0 0;
}
.result img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.result div p {
	display: block;
	color: #0099cc;
}
.result div p:first-child {
	font-weight: bold;
}
.result div p, .result div h5, .result div h6 {
	margin: 0;
}
#resultName {
	position: absolute;
}
.detail-container {
	position: relative;
	margin-top: 40px;
	padding: 30px;
	background-color: #99ff99;
	color: #34495e;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.detail-container .details img {
	width: 140px;
}
.detail-container .details div span {
	display: block;
	margin: 10px;
}
.detail-container .details div span:first-child {
	font-size: 22px;
	font-weight: bold;
}
.detail-container .bio {
	margin: 20px 0 0 0;
	padding: 20px;
	border-top: solid 1px #27ae60;
	text-align: justify;
}
.detail-container a {
	text-decoration: none;
}
.details-nav-button {
	position: absolute;
	top: 80px;
	height: 50px;
	width: 50px;
	background-color: #55ee55;
	color: #27ae60;
	font-size: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	z-index: 10;
}
.details-nav-button:hover {
	background-color: #27ae60;
	color: #77ff77;
}
.details-nav-button.left {
	left: -35px;
}
.details-nav-button.right {
	right: -35px;
}
.error {
	margin-top: 5%;
	text-align: center;
}
.clear-left {
	clear: left;
}
.shadow {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.noselect, span {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;    
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}