body {
	margin: 0;
	background: #27ae60;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}
input.ng-invalid, input.ng-valid {
	border: none;
	box-shadow: none;
}
.search-form {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 500px;
	margin: 0 0 0 -270px;
	padding: 10px 20px;
	background-color: #99ff99;
	border-radius: 5px;
}
.search-form-wrapper {
	position: relative;
}
.search-form-content {
	height: 50px;
}
.search-form h1 {
	margin: 0;
	color: #0099cc;
	line-height: 50px;
}
.search-form form span {
	float: left;
}
.search-form form span, .search-form .filter span {
	height: 40px;
	width: 20%;
	background-color: #27ae60;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 5px 0 0 5px;
}
.search-form form input {
	float: left;
	height: 40px;
	width: 78%;
	padding: 0 1%;
	border-radius: 0 5px 5px 0;
	color: #34495e;
	font-size: 20px;
}
.search-form .filter {
	height: 50px;
	-webkit-transition: height 0.3s, opacity 0.3s, visibility 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, visibility 0.3s;
	transition: height 0.3s, opacity 0.3s, visibility 0.3s;
}
.search-form .filter.hidden {
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.search-form .filter * {
	-webkit-transition: height 0.3s, opacity 0.4s, visibility 0.4s;
	-moz-transition: height 0.3s, opacity 0.4s, visibility 0.4s;
	transition: height 0.3s, opacity 0.4s, visibility 0.4s;
}
.search-form .filter.hidden * {
	height: 0;
	opacity: 0;
	visibility: hidden;
	border: none;
	-webkit-transition: height 0.3s, opacity 0s, visibility 0s;
	-moz-transition: height 0.3s, opacity 0s, visibility 0s;
	transition: height 0.3s, opacity 0s, visibility 0s;
}
.search-form .filter span {
	position: absolute;
}
.search-form .filter span.span-filter {
	left: 0;
}
.search-form .filter span.span-order {
	left: 41%;
}
.search-form .filter select {
	position: absolute;
	left: 20%;
	height: 40px;
	width: 20%;
	color: #34495e;
	font-size: 16px;
}
.search-form .filter div {
	position: absolute;
	left: 61%;
	height: 40px;
	width: 19.5%;
}
.search-form .filter div:nth-child(5) {
	left: 80.5%;
}
.search-form .filter div:last-child span {
	border-radius: 0 5px 5px 0;
}
.search-form .filter div span {
	width: 100%;
	background-color: #0093d1;
	font-size: 16px;
	border-left: solid 1px #ccffcc;
	border-radius: 0;
	opacity: 0.6;
	cursor: pointer;
}
.search-form .filter div span.active {
	opacity: 1;
}
.search-form .filter div span:hover {
	background-color: #006495;
	opacity: 1;
}
.search-form .filter div span.active:hover {
	background-color: #0093d1;
}
.filter-toggle {
	position: relative;
	height: 30px;
	margin: 0 0 10px 0;
	color: #27ae60;
	text-align: center;
	border:solid 1px #27ae60;
	cursor: pointer !important;
	line-height: 30px;
	z-index: 10;
}
.result {
	position: relative;
	height: 70px;
	margin: 0 0 2px 0;
	padding: 0 10px;
	background-color: #70ff7f;
	border-right: solid 10px #27ae60;
}
.result:hover {
	background-color: #5fff5f;
}
.result a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.result div {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}
.result img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.result div p {
	display: block;
	color: #0099cc;
}
.result div p:first-child {
	font-weight: bold;
}
.result div p, .result div h5, .result div h6 {
	margin: 0;
}
.detail-container {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 500px;
	margin: 0 0 0 -280px;
	padding: 30px;
	background-color: #99ff99;
	color: #34495e;
}
.detail-container .details {
	height: 150px;
}
.detail-container .details div {
	display: inline-block;
	float: left;
	height: 100%;
}
.detail-container .details div:nth-child(1) {
	width: 30%;
}
.detail-container .details div:nth-child(2) {
	width: 70%;
}
.detail-container .details img {
	width: 100%;
}
.detail-container .details div span {
	display: block;
	margin: 10px;
}
.detail-container .details div span:first-child {
	font-size: 24px;
	font-weight: bold;
}
.detail-container .bio {
	margin: 20px 0 0 0;
	padding: 20px;
	border-top: solid 1px #27ae60;
	text-align: justify;
}
.detail-container a {
	text-decoration: none;
}
.details-nav-button {
	position: absolute;
	top: 80px;
	height: 50px;
	width: 50px;
	background-color: #77ff77;
	color: #27ae60;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.details-nav-button.left {
	left: -35px;
}
.details-nav-button.right {
	right: -35px;
}
.error {
	margin-top: 5%;
	text-align: center;
}
.clear-left {
	clear: left;
}
.shadow {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.noselect, span {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;    
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}