<div class="row">
	<div class="col-md-6 col-sm-12 col-md-offset-3 detail-container shadow">
		<button class="details-nav-button left shadow" ng-click="prevFunction(artist.length)">◄</button>
		<button class="details-nav-button right shadow" ng-click="nextFunction(artist.length)">►</button>
		<div class="row details">
			<div class="col-md-4 col-sm-12">
				<img src="../../images/{{artist[index].shortname}}_tn.jpg">
			</div>
			<div class="col-md-8 col-sm-12">
				<span>{{artist[index].name}}</span>
				<span>{{artist[index].reknown}}</span>
			</div>
		</div>
		<div class="row bio">
			{{artist[index].bio}}
		</div>
		<a href="#/">&laquo;Back to Search</a>
	</div>
</div>