<div class="row">
	<div class="col-md-6 col-sm-12 col-md-offset-3 detail-container shadow">
		<button class="details-nav-button left shadow" ng-click="prevFunction()" ng-disabled="firstArtist">◄</button>
		<button class="details-nav-button right shadow" ng-click="nextFunction()" ng-disabled="lastArtist">►</button>
		<div class="row details">
			<div class="col-md-4 col-sm-12">
				<img src="../images/{{artists[index].shortname}}_tn.jpg">
			</div>
			<div class="col-md-8 col-sm-12">
				<span>{{artists[index].name}}</span>
				<span>{{artists[index].reknown}}</span>
			</div>
		</div>
		<div class="row bio">
			{{artists[index].bio}}
		</div>
		<a href="#/">&laquo;Back to Search</a>
	</div>
</div>