<div class="row">
	<div class="col-md-6 col-md-offset-3 search-form shadow">
		<div class="search-form-wrapper">
			<div class="search-form-content">
				<h1 class="noselect">Artist</h1>
			</div>

			<div class="search-form-content">
				<form name="searchForm">
					<span id="searchLabel">
						<span id="searchLabelText">Search</span>
					<span class="glyphicon glyphicon-search"></span>
					</span>
					<input name="searchInput" type="text" ng-model="search" autocomplete="off" required>
					<div class="clear-left"></div>
				</form>
			</div>

			<div class="filter" ng-class="filterHide">
				<div class="row">
					<div class="col-sm-5 col-xs-12 filter-col">
						<div id="filterLabel">Filter</div>
						<select id="filterSelect" ng-model="searchBy" ng-options="x for x in searchOptions"></select>
						<div class="clear-left"></div>
					</div>
					<div class="col-sm-7 col-xs-12 filter-col">
						<span id="orderLabel">Order</span>
						<div class="order-div">
							<span class="order" ng-class="order1" ng-click="orderByFunction('')">Ascending</span>
						</div>
						<div class="order-div">
							<span class="order round-corner" ng-class="order2" ng-click="orderByFunction('reverse')">Descending</span>
						</div>
						<div class="clear-left"></div>
					</div>
				</div>
			</div>

			<div class="filter-toggle noselect" ng-click="toggleFilter()">
				<span>{{toggleButtonLabel}}</span>
			</div>
		</div>

		<div ng-show="search" class="result" ng-repeat="artist in artists | filter : {name : search} | orderBy : searchBy:direction">
			
			<!--<parent-of-some jkl="'haha'"></parent-of-some>-->

			<a href="#detail/{{artists.indexOf(artist)}}">
				<div>
					<img src="../images/{{artist.shortname}}_tn.jpg">
				</div>
				<div id="resultName">
					<p>{{artist.name}}</p>
					<p>{{artist.reknown}}</p>
				</div>
			</a>
		</div>
	</div>
</div>